@model NBDGreenerGrass.Models.Bid

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="fw-bold">Bid Details</h1>

    <div>
        <h3 class="fw-bold">Bid Information</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateMade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateMade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>

            @if (Model.Stage == NBDGreenerGrass.Enums.BidStage.Unapproved && !String.IsNullOrEmpty(Model.DeniedClientReason))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeniedClientReason)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeniedClientReason)
                </dd>
            }
            else if (Model.Stage == NBDGreenerGrass.Enums.BidStage.Unapproved && !String.IsNullOrEmpty(Model.DeniedManagerReason))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeniedManagerReason)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeniedManagerReason)
                </dd>
            }

        </dl>
    </div>

    <div>
        <h3 class="fw-bold">Bid Materials</h3>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Inventory Description</th>
                    <th>Inventory Size</th>
                    <th>Inventory Code</th>
                    <th>Inventory List Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in Model.BidMaterials)
                {
                    <tr>
                        <td>@material.InventoryDesc</td>
                        <td>@material.InventorySize</td>
                        <td>@material.InventoryCode</td>
                        <td>@material.InventoryListPrice.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <h3 class="fw-bold">Bid Labours</h3>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Labour Type</th>
                    <th>Labour Price</th>
                    <th>Labour Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var labour in Model.BidLabours)
                {
                    <tr>
                        <td>@labour.LabourType</td>
                        <td>@labour.LabourPrice.ToString("C")</td>
                        <td>@labour.LabourCost.ToString("C")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="mt-4">
    <h3 class="fw-bold">Actions</h3>
    <div class="btn-group" role="group">
        <a asp-action="Review" asp-route-Id="@Model.ID" class="btn btn-primary">Review</a>
        <a asp-action="Approve" asp-route-Id="@Model.ID" class="btn btn-success">Approve</a>
        <a asp-action="Edit" asp-route-projectId="@Model.ProjectID" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
        <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.ProjectID" class="btn btn-secondary">Back to Project Details</a>
    </div>
</div>
