@model IEnumerable<NBDGreenerGrass.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <form asp-action="BidReviewed" asp-route-id="@item.ID">
                    <input type="submit" value="Review" class="btn btn-primary" />
                </form> |
                <form asp-action="BidApproved" method="post" asp-route-id=" @item.ID">
                    <input type="submit" value="Approve" class="btn btn-primary" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
